// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default all process(es) to use the parallel environment 'serial'
process.penv = "serial"

// Default pipeline mode (change to 'test' in yaml file if doing a test mode run)
params.mode = 'production'

// Default strip kinetics to true as that is what is usually wanted for pacbio map/merges
params.stripKinetics = true

// Input
params.mergedBam = null
params.hifiBams = null
params.ontFastqsFolder = null
params.ontBamsFolder = null
params.ontDataFolder = null
params.ontBaseCall = false
params.ontBaseCallModel = null
params.ontBaseCallBaseModifications = null
params.ontBaseCallOutFolder = null
params.ontSignalFolders = null
params.ontCudaDevice = 'cuda:all'
params.signalExtensions = 'fast5'
params.basecaller_num_chunk_per_batch = 20
params.basecall_qscore_filter = 10

// QC
params.qcToRun = ["All"]


process {
	debug = false
}

profiles {
	includeConfig './config/profiles/instanceSize/instanceSizeLow.config'
	includeConfig './config/profiles/instanceSize/instanceSizeHigh.config'
	
	includeConfig './config/profiles/executor/executorLocal.config'
	includeConfig './config/profiles/executor/executorGridEngine.config'

	includeConfig './config/profiles/environment/environmentCentOS7.config'
	includeConfig './config/profiles/environment/environmentUbuntu22.config'
	includeConfig './config/profiles/environment/environmentContainer.config'
}

// performance monitoring
timeline {
	enabled = true
	file = "./monitor/${params.sampleId}.timeline.html"
	overwrite = true
}
report {
	enabled = true
	file = "./monitor/${params.sampleId}.report.html"
	overwrite = true
}
trace {
	enabled = true
	file = "./monitor/${params.sampleId}.trace.txt"
	overwrite = true
}
