environmentCentOS7 {

    //  Modules
    initModules = "modules:modules-init:modules-gs"
    smrttoolsModule = params.sequencerType == 'Revio' ? 'smrttools/13.0.0' : 'smrttools/12.0.0'
	smrttoolsModuleForPrimrose = 'smrttools/12.0.0'
    minimap2Module = "minimap2/2.26"
    samtoolsModule = "samtools/1.14"
    picardModule = "picard/3.0.0"
    mosdepthModule = "mosdepth/0.3.6"
    pythonModule = "python/3.7.7"
    nanoPlotModule = "nanoplot/1.41.0"
    htslibModule = "htslib/1.16.2"
    verifyBamIdModule =  "VerifyBamID/2.0.1"
    bcftoolsModule = "bcftools/1.17"
    tabixModule = "tabix/0.2.6"
    cudaModule = "cuda/12.1"
    doradoModule = "dorado/0.4.2"
    doraodoModelsModule = "dorado-data/models"
    pythonForPod5Module = "python/3.9.13"
    numpyModule = "numpy/1.26.2"
    h5pyModule = "h5py/3.8.0"
    pod5Module = "pod5/0.3.0"
    ontsamtoolsModule = "samtools/1.17"

    process {
        withName: 'CONVERT_FAST5_TO_POD5' {
            module = "${initModules}:${pythonForPod5Module}:${numpyModule}:${h5pyModule}:${pod5Module}"
        }
        withName: 'BASECALL_ONLY_DORADO' {
            module = "${initModules}:${cudaModule}:${doradoModule}:${doraodoModelsModule}"
        }

        withName: 'SUMMARIZE_DORADO' {
            module = "${initModules}:${doradoModule}"
        }

        withName: 'COLLATE_DORADO_SUMMARIES' {
            module = "${initModules}"
        }

        withName: 'QSFILTER' {
            module = "${initModules}:${ontsamtoolsModule}"
        }

        withName: 'STRIP_KINETICS' {
            module = "${initModules}:${smrttoolsModuleForPrimrose}:${samtoolsModule}"
        }
        
        withName: 'MAP_HIFI_BAM' {
            module = "${initModules}:${smrttoolsModule}"
        }

        withName: 'MAP_ONT_FASTQ' {
            module = "${initModules}:${minimap2Module}:${ontsamtoolsModule}"
        }

        withName: 'MAP_ONT_BAM' {
            module = "${initModules}:${minimap2Module}:${ontsamtoolsModule}"
        }

        withName: 'MERGE_MAPPED_BAMS' {
            module = "${initModules}:${samtoolsModule}"
        }

        withName: 'ADD_NM_TAGS' {
            module = "${initModules}:${samtoolsModule}"
        }
        
        withName: 'SAMTOOLS_STATS' {
            module = "${initModules}:${samtoolsModule}"
        }
        
        withName: 'PICARD_QUALITY_METRICS' {
            module = "${initModules}:${picardModule}"
        }
        
        withName: 'MOSDEPTH' {
            module = "${initModules}:${mosdepthModule}"
        }
        
        withName: 'NANO_PLOT' {
            module = "${initModules}:${pythonModule}:${nanoPlotModule}"
        }
        
        withName: 'CONTAMINATION_CHECK' {
            module = "${initModules}:${samtoolsModule}:${htslibModule}:${verifyBamIdModule}"
        }
        
        withName: 'CREATE_FINGERPRINT_VCF' {
            module = "${initModules}:${htslibModule}:${bcftoolsModule}:${tabixModule}"
        }
    }
}
