instanceSizeHigh {
    process {
        withName: 'CONVERT_FAST5_TO_POD5' {
            memory = "2G"
            cpus = 2
        }
        withName: 'BASECALL_ONLY_DORADO' {
            memory = "4G"
            cpus = 8
        }

        withName: 'SUMMARIZE_DORADO' {
            memory = "2G"
            cpus = 2
        }

        withName: 'COLLATE_DORADO_SUMMARIES' {
            memory = "2G"
            cpus = 2
        }

        withName: 'QSFILTER' {
            memory = "2G"
            cpus = 4
        }

        withName: 'STRIP_KINETICS' {
            memory = "1G"
            cpus = 20
        }
    
        withName: 'MAP_HIFI_BAM' {
            memory = "3G"
            cpus = 16
        }

        withName: 'MAP_ONT_FASTQ' {
            memory = "3G"
            cpus = 8
        }

        withName: 'MAP_ONT_BAM' {
            memory = "3G"
            cpus = 8
        }

        withName: 'MERGE_MAPPED_BAMS' {
            memory = "2G"
            cpus = 16
        }

        withName: 'ADD_NM_TAGS' {
            memory = "2G"
            cpus = 16
        }
        
        withName: 'SAMTOOLS_STATS' {
            memory = "2G"
            cpus = 10
        }
        
        withName: 'PICARD_QUALITY_METRICS' {
            memory = "10G"
        }
        
        params {
            memoryPerCoreMOSDEPTH="15G"
            memoryPerCoreNANO_PLOT="3G"
        }

        withName: 'MOSDEPTH' {
            memory = params.memoryPerCoreMOSDEPTH
        }
        
        withName: 'NANO_PLOT' {
            memory = params.memoryPerCoreNANO_PLOT
            cpus = 10
        }
        
        withName: 'CONTAMINATION_CHECK' {
            memory = "10G"
        }
        
        withName: 'CREATE_FINGERPRINT_VCF' {
            memory = "10G"
        }

        withName: 'PUBLISH_RELEASE_QC_ROOT' {
            memory = "2G"
            cpus = 1
        }

        withName: 'PUBLISH_RELEASE_QC_NANAPLOT' {
            memory = "2G"
            cpus = 1
        }

        withName: 'PUBLISH_RELEASE' {
            memory = "2G"
            cpus = 1
        }

        withName: 'PUBLISH_RELEASE_QC' {
            memory = "2G"
            cpus = 1
        }

        withName: 'CHECKSUM_BAM' {
            memory = "2G"
            cpus = 1
        }
    }
}
