instanceSizeLow {
    process {
        withName: 'STRIP_KINETICS' {
            memory = "1G"
            cpus = 1
        }
        
        withName: 'MAP_HIFI_BAM' {
            memory = "2G"
            cpus = 1
        }

        withName: 'MAP_PACBIO_FASTQ' {
            memory = "2G"
            cpus = 1
        }

        withName: 'MAP_ONT_FASTQ' {
            memory = "2G"
            cpus = 1
        }

        withName: 'MAP_ONT_BAM' {
            memory = "2G"
            cpus = 1
        }

        withName: 'MERGE_MAPPED_BAMS' {
            memory = "2G"
            cpus = 1
        }

        withName: 'ADD_NM_TAGS' {
            memory = "2G"
            cpus = 1
        }
        
        withName: 'SAMTOOLS_STATS' {
            memory = "2G"
            cpus = 1
        }
        
        withName: 'PICARD_QUALITY_METRICS' {
            memory = "2G"
        }
        
        withName: 'MOSDEPTH' {
            memory = "2G"
        }
        
        withName: 'NANO_PLOT' {
            memory = "2G"
            cpus = 1
        }
        
        withName: 'CONTAMINATION_CHECK' {
            memory = "2G"
        }
        
        withName: 'CREATE_FINGERPRINT_VCF' {
            memory = "2G"
        }
    }
}
