executorGridEngine {
    // Executor
    executor.name = 'sge'
    executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }
    executor.queueSize = 200

    // Grid Engine
    clusterProject = "dna"
    defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";
    //defaultClusterOptions = "-S /bin/bash -q analysis.q -m as -r yes -R yes";

    process {
        // Default cluster options with 1 hour run time for all processes
        clusterOptions = "$defaultClusterOptions -l d_rt=0:1:0"

        withName: 'CONVERT_FAST5_TO_POD5' {
            clusterOptions = "$defaultClusterOptions -l d_rt=0:2:0"
        }
        withName: 'BASECALL_ONLY_DORADO' {
            clusterOptions = "$defaultClusterOptions -l d_rt=0:3:0,gpgpu=TRUE,cuda=1"
        }

        // Processes that have a different projected run time than the default
        withName: 'MAP_HIFI_BAM' {
            clusterOptions = "$defaultClusterOptions -l d_rt=0:2:0"
        }
        
        withName: 'MAP_PACBIO_FASTQ' {
            clusterOptions = "$defaultClusterOptions -l d_rt=0:2:0"
        }

        withName: 'MAP_ONT_FASTQ' {
            clusterOptions = "$defaultClusterOptions -l d_rt=0:2:0"
        }
    }
}
